@tailwind base;
@tailwind components;
@tailwind utilities;

body > div {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-prev, .slick-next {
    bottom: -40px !important;
    top: auto !important;
    z-index: 1 !important;
    background-color: red !important;
    color: white !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
    /* font-size: 0px !important; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.slick-prev {
    left: 100px !important;
}

.slick-next {
    right: 100px !important;
}

@media (max-width: 768px) {
    .slick-prev, .slick-next {
        width: 40px !important;
        height: 40px !important;
        /* font-size: 20px !important; */
    }
}
